<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài tập template trang web</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/css/fontawesome.css">

</head>

<style>
    :root {
        --color: #ECF4FE
    }

    body {
        font-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #ECF4FE;
    }

    .bg-page {
        background-color: #ECF4FE;
    }

    .banner-title {
        color: #051A40;
        font-size: 3.5em;
        font-weight: bold;
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }


    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }


    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

    @media (min-width: 992px) {
        .top-lg-50 {
            top: 50% !important;
        }

        .translate-lg-n10 {
            transform: translate(-10%, -10%) !important;
        }

        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(25%);
        }

        .carousel-inner .carousel-item-start.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-25%);
        }
    }

    
</style>

<body>
    <header class="bg-page sticky-top">
        <nav class="navbar navbar-expand-lg">
            <div class="container align-items-baseline">
                <a class="navbar-brand" href="#">
                    <span class="fa-stack">
                        <i class="fa-solid fa-square fa-stack-2x"></i>
                        <i class="fa-solid fa-book-open fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="text-uppercase fw-bold">Learning</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNav"
                    aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="topNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#course">Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#service">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#testimonial">Testimonial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
                            <a class="btn btn-outline-primary" href="#">Login</a>
                        </li>
                        <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                            <a class="btn btn-primary" href="#">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
        <section id="home" class="py-5">
            <div class="row mb-5">
                <div class="col-12 col-lg-7">
                    <h1 class="banner-title">Learn more and make success the result</h1>
                </div>
                <div class="col-12 col-lg-4">
                    <p class="text-primary bg-light">- The best E-Learning Platform</p>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat qui
                        doloribus eveniet nesciunt corporis numquam. Laudantium, assumenda esse? Nulla.</p>
                    <button class="btn btn-primary rounded-3 col-12 col-lg-auto">Show all Courses</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-10">
                    <img class="img-fluid rounded-4" src="./assets/imgs/banner.png" alt="Banner">
                </div>
                <div class="col-12 col-lg-2 mt-5 m-lg-auto">
                    <div class="row-cols-1 text-center">
                        <div class="col">
                            <h1 class="text-primary fw-bold">15+</h1>
                            <p class="text-secondary">Total branches opened in last year</p>
                        </div>
                        <div class="col">
                            <h1 class="text-primary fw-bold">5K+</h1>
                            <p class="text-secondary">New students in last 30 days</p>
                        </div>
                        <div class="col">
                            <h1 class="text-primary fw-bold">1.5+</h1>
                            <p class="text-secondary">New students in last year</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="course" class="py-5">
            <div class="row text-center">
                <h1 class="banner-title fs-3">
                    Our Featured Courses
                </h1>
                <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, earum sequi
                    quidem fuga minus quia.</p>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 gy-4">
                <div class="col">
                    <div class="card rounded-4">
                        <img src="./assets/imgs/feature1.png" alt="Feature 1" class="img-fluid rounded-4 m-2">
                        <div class="card-body">
                            <div class="hstack justify-content-between">
                                <p class="rounded-2 bg-primary-subtle py-2 px-4">Development</p>
                                <p class="text-primary fw-bold">$225</p>
                            </div>
                            <p class="card-title fw-bold fs-5 mb-3">Become a professional designer be with passion &
                                dignity</p>
                            <div class="hstack justify-content-between">
                                <p class="text-secondary"><i class="fa-solid fa-book-open"></i> 20 lessons</p>
                                <p class="text-secondary"><i class="fa-solid fa-users"></i> 237 Students</p>
                            </div>
                            <div class="hstack justify-content-between align-items-center">
                                <p class="text-secondary m-0">5.0 <span
                                        class="text-primary fs-3 align-middle">🟊🟊🟊🟊🟊</span> (2,5899)</p>
                                <a class="btn btn-primary rounded-circle fs-5 px-2">🡢</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4">
                        <img src="./assets/imgs/feature2.png" alt="Feature 2" class="img-fluid rounded-4 m-2">
                        <div class="card-body">
                            <div class="hstack justify-content-between">
                                <p class="rounded-2 bg-primary-subtle py-2 px-4">UI/UX Design</p>
                                <p class="text-primary fw-bold">$180</p>
                            </div>
                            <p class="card-title fw-bold fs-5 mb-3">Java programming A-Z fully classes with full task
                            </p>
                            <div class="hstack justify-content-between">
                                <p class="text-secondary"><i class="fa-solid fa-book-open"></i> 20 lessons</p>
                                <p class="text-secondary"><i class="fa-solid fa-users"></i> 237 Students</p>
                            </div>
                            <div class="hstack justify-content-between align-items-center">
                                <p class="text-secondary m-0">5.0 <span
                                        class="text-primary fs-3 align-middle">🟊🟊🟊🟊🟊</span> (1,5559)</p>
                                <a class="btn btn-primary rounded-circle fs-5 px-2">🡢</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card rounded-4">
                        <img src="./assets/imgs/feature3.png" alt="Feature 3" class="img-fluid rounded-4 m-2">
                        <div class="card-body">
                            <div class="hstack justify-content-between">
                                <p class="rounded-2 bg-primary-subtle py-2 px-4">Art & Craft</p>
                                <p class="text-primary fw-bold">$225</p>
                            </div>
                            <p class="card-title fw-bold fs-5 mb-3">You will fell in love with this mustly if you have
                                desire</p>
                            <div class="hstack justify-content-between">
                                <p class="text-secondary"><i class="fa-solid fa-book-open"></i> 20 lessons</p>
                                <p class="text-secondary"><i class="fa-solid fa-users"></i> 237 Students</p>
                            </div>
                            <div class="hstack justify-content-between align-items-center">
                                <p class="text-secondary m-0">5.0 <span
                                        class="text-primary fs-3 align-middle">🟊🟊🟊🟊🟊</span> (4,4000)</p>
                                <a class="btn btn-primary rounded-circle fs-5 px-2">🡢</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4">
                        <img src="./assets/imgs/feature4.png" alt="Feature 4" class="img-fluid rounded-4 m-2">
                        <div class="card-body">
                            <div class="hstack justify-content-between">
                                <p class="rounded-2 bg-primary-subtle py-2 px-4">Lifestyle</p>
                                <p class="text-primary fw-bold">$228</p>
                            </div>
                            <p class="card-title fw-bold fs-5 mb-3">Be passionated with your regularly exercise and sty
                                fit</p>
                            <div class="hstack justify-content-between">
                                <p class="text-secondary"><i class="fa-solid fa-book-open"></i> 20 lessons</p>
                                <p class="text-secondary"><i class="fa-solid fa-users"></i> 237 Students</p>
                            </div>
                            <div class="hstack justify-content-between align-items-center">
                                <p class="text-secondary m-0">5.0 <span
                                        class="text-primary fs-3 align-middle">🟊🟊🟊🟊🟊</span> (2,539)</p>
                                <a class="btn btn-primary rounded-circle fs-5 px-2">🡢</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4">
                        <img src="./assets/imgs/feature5.png" alt="Feature 5" class="img-fluid rounded-4 m-2">
                        <div class="card-body">
                            <div class="hstack justify-content-between">
                                <p class="rounded-2 bg-primary-subtle py-2 px-4">Business</p>
                                <p class="text-primary fw-bold">$320</p>
                            </div>
                            <p class="card-title fw-bold fs-5 mb-3">Grow your business by mastered in some technique</p>
                            <div class="hstack justify-content-between">
                                <p class="text-secondary"><i class="fa-solid fa-book-open"></i> 20 lessons</p>
                                <p class="text-secondary"><i class="fa-solid fa-users"></i> 237 Students</p>
                            </div>
                            <div class="hstack justify-content-between align-items-center">
                                <p class="text-secondary m-0">5.0 <span
                                        class="text-primary fs-3 align-middle">🟊🟊🟊🟊🟊</span> (2,3399)</p>
                                <a class="btn btn-primary rounded-circle fs-5 px-2">🡢</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4">
                        <img src="./assets/imgs/feature6.png" alt="Feature 6" class="img-fluid rounded-4 m-2">
                        <div class="card-body">
                            <div class="hstack justify-content-between">
                                <p class="rounded-2 bg-primary-subtle py-2 px-4">Marketing</p>
                                <p class="text-primary fw-bold">$225</p>
                            </div>
                            <p class="card-title fw-bold fs-5 mb-3">Top 10 tips to grow up audience to progress business
                            </p>
                            <div class="hstack justify-content-between">
                                <p class="text-secondary"><i class="fa-solid fa-book-open"></i> 20 lessons</p>
                                <p class="text-secondary"><i class="fa-solid fa-users"></i> 237 Students</p>
                            </div>
                            <div class="hstack justify-content-between align-items-center">
                                <p class="text-secondary m-0">5.0 <span
                                        class="text-primary fs-3 align-middle">🟊🟊🟊🟊🟊</span> (5,45609)</p>
                                <a class="btn btn-primary rounded-circle fs-5 px-2">🡢</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="service" class="py-5">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <div class="">
                        <h1 class="banner-title fs-3">
                            We Make Your Learning Though Awesome
                        </h1>
                        <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
                            earum sequi quidem fuga minus quia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ratione, earum sequi quidem fuga minus quia.</p>
                        <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
                            earum sequi quidem fuga minus quia.</p>
                        <div class="row row-cols-3 text-center">
                            <div class="col">
                                <h3 class="text-primary fw-bold">15K+</h3>
                                <p class="text-secondary">Students</p>
                            </div>
                            <div class="col">
                                <h3 class="text-primary fw-bold">125+</h3>
                                <p class="text-secondary">Courses</p>
                            </div>
                            <div class="col">
                                <h3 class="text-primary fw-bold">200+</h3>
                                <p class="text-secondary">Countries</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="vstack">
                        <div class="row align-items-center">
                            <span class="col-auto flex-shrink-0 fa-stack fa-2x text-warning">
                                <i class="fa-solid fa-square fa-stack-2x"></i>
                                <i class="fa-solid fa-video fa-stack-1x fa-inverse"></i>
                            </span>
                            <h6 class="col-auto flex-grow-1 banner-title fs-6 m-0">Over 5.8k<br>Video Courses</h6>
                        </div>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis itaque
                            asperiores officiis accusantium blanditiis eos aperiam aliquam laboriosam consequuntur
                            facere?</p>
                    </div>
                    <div class="vstack">
                        <div class="row align-items-center">
                            <span class="col-auto flex-shrink-0 fa-stack fa-2x text-success">
                                <i class="fa-solid fa-square fa-stack-2x"></i>
                                <i class="fa-solid fa-medal fa-stack-1x fa-inverse"></i>
                            </span>
                            <h6 class="col-auto flex-grow-1 banner-title fs-6 m-0">Over 5.8k<br>Video Courses</h6>
                        </div>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis itaque
                            asperiores officiis accusantium blanditiis eos aperiam aliquam laboriosam consequuntur
                            facere?</p>
                    </div>
                    <div class="vstack">
                        <div class="row align-items-center">
                            <span class="col-auto flex-shrink-0 fa-stack fa-2x text-info">
                                <i class="fa-solid fa-square fa-stack-2x"></i>
                                <i class="fa-solid fa-check fa-stack-1x fa-inverse"></i>
                            </span>
                            <h6 class="col-auto flex-grow-1 banner-title fs-6 m-0">Over 5.8k<br>Video Courses</h6>
                        </div>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis itaque
                            asperiores officiis accusantium blanditiis eos aperiam aliquam laboriosam consequuntur
                            facere?</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="testimonial" class="py-5">
            <div class="row text-center">
                <h1 class="banner-title fs-3">
                    Some Best Books
                </h1>
                <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, earum sequi
                    quidem fuga minus quia.</p>
            </div>


            <div class="row mx-auto my-auto justify-content-center">
                <div id="multi-carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="//via.placeholder.com/500x400/31f?text=1" class="img-fluid">
                                    </div>
                                    <div class="card-img-overlay">Slide 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="//via.placeholder.com/500x400/e66?text=2" class="img-fluid">
                                    </div>
                                    <div class="card-img-overlay">Slide 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="//via.placeholder.com/500x400/7d2?text=3" class="img-fluid">
                                    </div>
                                    <div class="card-img-overlay">Slide 3</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="//via.placeholder.com/500x400?text=4" class="img-fluid">
                                    </div>
                                    <div class="card-img-overlay">Slide 4</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="//via.placeholder.com/500x400/aba?text=5" class="img-fluid">
                                    </div>
                                    <div class="card-img-overlay">Slide 5</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="//via.placeholder.com/500x400/fc0?text=6" class="img-fluid">
                                    </div>
                                    <div class="card-img-overlay">Slide 6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev bg-transparent w-aut" href="#multi-carousel" role="button"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next bg-transparent w-aut" href="#multi-carousel" role="button"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>


            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <div class="">
                        <h1 class="banner-title fs-3">
                            Get more close with your coueses.
                        </h1>
                        <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
                            earum sequi quidem fuga minus quia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ratione, earum sequi quidem fuga minus quia.</p>
                        <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
                            earum sequi quidem fuga minus quia.</p>
                        <ul class="list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-circle-check text-primary"></i> Detail
                                description of each course</li>
                            <li class="list-group-item"><i class="fa-solid fa-circle-check text-primary"></i> Easy to
                                understand language</li>
                            <li class="list-group-item"><i class="fa-solid fa-circle-check text-primary"></i> Simple and
                                easy to learn courses</li>
                        </ul>
                        <button class="btn btn-primary rounded-3">Start Learning Now</button>
                    </div>
                </div>
                <div class="col position-relative mt-5 mt-lg-0">
                    <img src="./assets/imgs/learn1.png" alt="Learn" class="img-fluid rounded-5">
                    <img src="./assets/imgs/learn2.png" alt="Learn"
                        class="img-fluid mt-4 rounded-5 border border-5 position-absolute start-0 col-12 col-lg-6 top-100 top-lg-50 translate-lg-n10">
                </div>
            </div>

        </section>
        <section id="contact" class="py-5">

        </section>
    </main>
    <script src="./assets/js/bootstrap.bundle.js"></script>
    <script>
        let items = document.querySelectorAll('.carousel .carousel-item')
        items.forEach((el) => {
            const minPerSlide = 4
            let next = el.nextElementSibling
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    next = items[0]
                }
                let cloneChild = next.cloneNode(true)
                el.appendChild(cloneChild.children[0])
                next = next.nextElementSibling
            }
        })

    </script>
</body>

</html>