* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    font-size: 100%;
}

.wraper {
    max-width: 1200px;
}

header,
footer {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
}

header {
    top: 0;
}

main {
    margin-top: 3.5em;
}

footer {
    bottom: 0;
}

.wraper h1, .wraper h2 {
    margin-left: 0.5em;
}