@mixin bg-b-w-h($bgcolor, $border, $width, $height) {
    background-color:$bgcolor;
    border:$border;
    width:$width;
    height:$height;
}

%gridwrapper {
    overflow:auto;
    position:relative;
    height:250px;
}
%gridcontent {
    width:8.33%;
    margin:0;
    border-right:1px solid grey;
    height:100%;
    float:left;
    background-color:#84c754;
    background-color:#f1f1f1;
}

* {
    box-sizing:border-box;
}

.main {
        position:absolute;
        opacity:0.9;
        width:auto;
        left:8px;
        right:10px;

        > div {
            @extend %gridwrapper;

            > div {
                @extend %gridcontent;
            }
        }

        > div:first-child {
            height:90px;
            
            > div {
                width:100%;
                background:#9933cc;
                border-right-color:transparent;
            }
        }

        > div:nth-child(2) {
            height:230px;

            > div {
                background-color:#ffffff;
                border:none !important;
            }

            > div:first-child {
                width:25%;
                padding-top:15px;

                > div {
                    @include bg-b-w-h(#33b5e5, none, 100%, 15%);
                    margin-bottom:10px;
                }

                > div:last-child {
                    margin-bottom:initial;
                }
            }

            > div:last-child {
                width:25%;
                padding-top:15px;

                > div {
                    @include bg-b-w-h(#33b5e5, none, 100%, 92%);
                }
            }
        }

        > div:last-child {
            height:50px;

            > div {
                width:100%;
                background:#0099cc;
                border-right-color:transparent;
            }
        }
}
.overlay {
    opacity:0.1;
    height:370px;
    @extend %gridwrapper;

    > div {
        background-color:#ffffff;
        border-right:1px solid #000000;
        @extend %gridcontent;
    }

    > div:first-child {
        border-left:1px solid #000000;
    }
}