@use "base" as b;
@use "../vendor/bootstrap/bootstrap.scss" as * with (
    $enable-negative-margins: true
);
@import "../fonts/font.css";
@import "../libs/icon/fontawesome.css";

@keyframes sideInRight {
    0% {
        transform: translateX(2000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sfd-boid {
    font-family: SFD, SFPD, Helvetica, sans-serif;
    font-weight: 700;
}

.sfd-medium {
    font-family: SFD, SFPD, Helvetica, sans-serif;
    font-weight: 500;
}

body {
    font-family: SFPD, Arial, Helvetica, sans-serif;
}

header {
    .top-menu {
        background-color: b.$nav-top-color;
        font-size: 0.8em;
    }
    .menu-bar {
        background-color: b.$nav-lg-color;
        // height: b.$nav-height;

        .logo {
            height: calc(b.$nav-height - 2em);
        }

        .pc-menu {
            .search-box {
                width: inherit;
                .search-input {
                    opacity: 0;
                    transition: all 0.3s;
                    border: none !important;
                }

                .search-btn {
                    color: $white;
                    background-color: transparent;
                    border: none !important;
                    flex-grow: 0;
                    transition: all 0.3s;
                }

                &:hover .search-input {
                    opacity: 1;
                }
                &:hover .search-btn {
                    background-color: $white;
                    color: $black;
                }
            }
        }

        @include media-breakpoint-down(lg) {
            background-color: b.$nav-color;
        }
    }
    .side-menu {
        @include media-breakpoint-down(lg) {
            position: fixed;
            bottom: 0;
            top: 0;
            right: 0;
            z-index: 1045;
            display: flex;
            flex-direction: column;
            max-width: 100%;
            visibility: hidden;
            background-clip: padding-box;
            outline: 0;
            transition: transform 0.3s ease-in-out;
            transform: translateX(100%);
        }
    }
}
