@use "base" as b;
// @use "../vendor/bootstrap/bootstrap-variables.scss" as *;
@import "../fonts/font.css";
@import "../libs/icon/fontawesome.css";

@keyframes sideInRight {
    0% {
        transform: translateX(2000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes sideInTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sfd-boid {
    font-family: SFD, SFPD, Helvetica, sans-serif;
    font-weight: 700;
}

.sfd-medium {
    font-family: SFD, SFPD, Helvetica, sans-serif;
    font-weight: 500;
}

body {
    font-family: SFPD, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-truncate-multiline-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-multiline-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-multiline-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-justify {
    text-align: justify !important;
}

@include b.media-breakpoint-up(lg){
    .bg-lg-secondary {
        background-color: b.$bottom-nav-bg-color;
    }
    .text-lg-white {
        color: b.$white;
    }
    .text-lg-secondary {
        color: b.$secondary;
    }
}


header {
    .top-menu {
        background-color: b.$nav-top-color;
        font-size: 0.8em;
    }
    .menu-bar {
        background-color: b.$nav-lg-color;
        .logo {
            height: calc(b.$nav-height - 2em);
        }

        .search-box {
            width: inherit;
            .search-input {
                opacity: 0;
                transition: all 0.3s;
                border: none !important;
            }

            .search-btn {
                color: b.$white;
                background-color: transparent;
                border: none !important;
                flex-grow: 0;
                transition: all 0.3s;
                padding-right: 1em;
            }

            &:hover .search-input {
                opacity: 1;
            }
            &:hover .search-btn {
                background-color: b.$white;
                color: b.$black;
            }
        }

        .btn-offcavas {
            @include b.media-breakpoint-up(lg) {
                &:hover > .side-menu {
                    display: block;
                }
                &:hover .fa-bars::before {
                    color: b.$red !important;
                    content: "\f00d";
                    transition: all 0.5s;
                }
                .btn-menu {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 3em;
                        height: 2em;
                        top: 100%;
                        left: 0;
                    }
                }
            }
        }
        @include b.media-breakpoint-down(lg) {
            background-color: b.$nav-color;
            .fa-bars {
                font-size: 2em;
            }
        }
    }
    .side-menu {
        @include b.media-breakpoint-up(lg) {
            display: none;
            position: absolute;
            top: b.$nav-height;
            left: 0;
            right: 0;
            background-color: b.$offcavas-bg;
            padding: 2em 2em;
            box-shadow: 1px 1px 20px 5px rgba(b.$black, 0.5);
            animation: fadeIn ease-in 0.2s;
            .side-menu__body {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                a {
                    text-decoration: none;
                    color: b.$black;
                }
            }
            .side-menu__item {
                .side-menu__item--header {
                    position: relative;
                    text-transform: uppercase;
                    border-bottom: 1px solid b.$black;
                    margin-bottom: 1em;

                    &::after {
                        content: "\f105";
                        display: block;
                        font-family: "Font Awesome 6 Free";
                        font-weight: 900;
                        color: b.$red;
                        position: absolute;
                        top: 0;
                        right: -0.8em;
                    }
                }
            }
        }

        @include b.media-breakpoint-down(lg) {
            width: 100% !important;
            top: b.$nav-height !important;
            padding: 0 2em 1em;
            overflow-y: scroll;
           

            .side-menu-mobile {
                .tab-chuyen-muc {
                    display: none;
                    li {
                        background-color: b.$mobile-nav-bg-color;
                        width: 40%;
                        padding: 0.5em 0;
                        border-radius: 1em;
                        margin: 0.2em;
                    }
                }
                
                .tab-khac {
                    display: none;

                    li {
                        border-bottom: 1px solid b.$black;
                        padding: 0.5em 1em;
                        p {
                            margin: 0;
                        }
                    }

                    .avatar-channel {
                        background-image: url(../imgs/xgenk_sprite.png);
                        background-repeat: no-repeat;
                        height: 46px;
                        width: 46px;
                    }
                    .linkhay {
                        background-position: 0 -47px;
                    }
                    .soha {
                        background-position: 0 -91px;
                    }
                    .afamily {
                        background-position: 0 -230px;
                    }
                    .biz {
                        background-position: 0 -277px;
                    }
                    .cafef {
                        background-position: 0 -327px;
                    }
                }

                .tab-chuyen-muc.active {
                    display: flex;
                }
                .tab-khac.active{
                    display: block;
                }
            }
        }
    }
}

.page-content {
    .border-dash {
        border-style: dashed !important;
    }
    .border-y-0 {
        border-left: none !important;
        border-right: none !important;
    }
    @include b.media-breakpoint-up(lg) {
        .fs-lg-6 {
            font-size: 1rem !important;
        }
    }
}

footer {
    .footer-menu {
        li:hover {
            color: red !important;
        }
    }
}
