:root {
    --color-text:#444444
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

input[type="text"] {
    outline: none;
}

[contentEditable=true]:empty::before {
    content: attr(placeholder);
    opacity: 0.6;
    font-size: 1em;
}

.wraper {
    max-width: 1300px;
    margin: auto;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    color: var(--color-text);
    /* font-size: 62.5%; */
    background-color: #e7e9ed;
}

/* ---------------------------------- */

.flex-space-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    background-color: #4165af;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 1em;
}

/* ---------------------------------- */
.avartar--outsite,
.avartar--header,
.avartar--left,
.avartar--new-post,
.avartar--post,
.avartar--story,
.avartar--story,
.avartar--story {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #1c2843;
}

.menu--more {
    color: #4165b0;
}

/* ----------- HEADER START ----------- */

header {
    background-color: #4165b0;
}

.facebook-icon {
    font-size: 3em;
    color: #fff;
}

header .wraper {
    padding: 1em 0 0.5em;
}

header .header-left {
    flex-basis: 50%;
}

header .header-search-wraper {
    padding-left: 0.5em;
    flex-grow: 1;
    overflow: hidden;
}

header .header-search__input {
    flex-grow: 1;
    padding: 0.3em 1em;
    border-top-left-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
    border: none;
    font-size: 1.3em;
}

header .header-search__input::placeholder {
    font-weight: bold;
}

header .header-search__icon {
    padding: 0.3em 1em;
    background-color: #f5f6f9;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    font-weight: bold;
    font-size: 1.3em;
}

header .header-right .avartar--header{
}

header .header-right li {
    padding: 0 0.3em;
}

header .header-right li:not(header .header-right li:nth-child(-n + 2)) {
    border-left: 1px solid #ccc;
}

header .header-right a{
    color: #fff;
    font-size: 1.4em;
    padding: 0 0.3em;
}

/* ----------- HEADER END ----------- */

/* ----------- SIDE BAR LEFT START ----------- */

main .side-bar-left {
    flex-basis: 20%;
    margin-top: 0.4em;
}

main .side-bar-left .left-header-name {
    padding-left: 1em;
}

main .side-bar-left .nav-left-menu li,
main .side-bar-left .nav-quick-access li {
    padding: 0.3em 0;
    margin: 0.2em 0;
}

main .side-bar-left .nav-left-menu li i,
main .side-bar-left .nav-quick-access li i {
    font-size: 1.6em;
}

main .side-bar-left .nav-left-menu,
main .side-bar-left .nav-group {
    margin-top: 1em;
    list-style: none;
}

main .side-bar-left .nav-group li {
    padding: 0.3em 0;
    margin: 0.2em 0;
}

main .side-bar-left .nav-group li i{
    font-size: 1.4em;
    border-radius: 50%;
    background-color: #4165b0;
    color: #fff;
    line-height: 2em;
    padding: 0 0.3em;
    margin-right: 0.3em;
}

main .side-bar-left .side-bar-left-footer {
    margin-top: 1em;
}

main .side-bar-left .side-bar-left-footer__title {
    margin-bottom: 0.3em;
}

main .side-bar-left .side-bar-left-footer__menu a{
    color: #4165b0;
}
/* ----------- SIDE BAR LEFT END ----------- */


/* ----------- CONTENT START ----------- */

main .content {
    flex-grow: 1;
    margin: 1em;
}

main .content .post,
main .content .new-post {
    border-radius: 1em;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 1em;
    
}

main .content .new-post__header {
    background-color: #f4f6f8;
}

main .content .new-post__header li {
    color: #4165b0;
    padding: 0 1em;
    margin: 1em 0;
    padding: 0 1em;
}

main .content .new-post__header li i {
    color: #000;
    font-size: 1.4em;
    padding-right: 0.3em;
}

main .content .new-post__header li:not(main .content .new-post__header li:first-child) {
    border-left: 1px solid #ccc;
}

main .content .new-post__footer,
main .content .new-post__body {
    padding: 1em 0;
    margin: 0 1em;
}

main .content .new-post__body {
    border-bottom: 1px solid #ccc;
}

main .content .new-post__input {
    /* border: none; */
    padding: 0.3em;
    flex-grow: 1;
    margin: 0 1em;
    outline: none;
}

main .content .new-post__footer li{
    padding: 0.5em 3em;
    margin: 0 0.5em;
    background-color: #f3f5f7;
    border-radius: 2em;
}

main .content .new-post__footer li i:not(main .content .new-post__footer li:last-child i) {
    font-size: 1.5em;
    padding-right: 0.5em;
}

main .content .new-post__footer li:last-child i {
    font-size: 1.5em;
}

main .content .post__footer,
main .content .post__content,
main .content .post__header {
    margin: 1em;
}

main .content .post-header-text {
    margin-left: 1em;
}

main .content .post-header-text__name {
    font-weight: bold;
}

main .content .post-content__img {
    width: 100%;
    padding-top: 100%;
    background-color: #4165af;
    border-radius: 1em;
    margin-bottom: 1em;
}

main .content .post-content__react p {
    width: 50%;
    text-align: center;
    font-size: 1.3em;
}

main .content .post__footer i {
    font-size: 1.6em;
    margin-right: -0.5em;
}

main .content .post__footer span {
    margin-left: 1em;
}

.emo-heart {
    color: red;
}

.emo-like {
    color: blue;
}

.emo-suprise {
    color: orange;
}

/* ----------- CONTENT END ----------- */

/* ----------- SIDE BAR RIGHT START ----------- */

main .side-bar-right {
    flex-basis: 26%;
    margin-top: 1em;
    
}

main .side-bar-right .page-control,
main .side-bar-right .stories {
    margin-bottom: 1em;
    background-color: #fff;
    border-radius: 1em;
    padding: 0 1em 1em;
}

main .side-bar-right .component__header {
    padding: 0.8em 0;
    font-weight: bold;
    color: #000;
    font-size: 1.3em;
}

main .side-bar-right .story-item {
    margin: 0.5em 0;
}

main .side-bar-right .avartar--outsite {
    border: 2px solid #6ea2b2;
    width: 3.8em;
    height: 3.8em;
    padding: 0.3em;
    background-color: #fff;
    margin-right: 0.5em;
}

main .side-bar-right .story-item__name {
    font-weight: bold;
    font-size: 1.2em;
}

main .side-bar-right .page-control .component__header {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
    margin: 0 -0.8em 0.5em;
}

main .side-bar-right .page-info__avartar {
    width: 20%;
    padding-top: 20%;
    background-color: #4165b0;
    margin-right: 0.8em;
}

main .side-bar-right .page__menu {
    text-align: center;
    margin: 0.5em 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
}

main .side-bar-right .page-count__menu {
    border: 1px solid #ccc;
    border-radius: 0.8em;
    overflow: hidden;
}

main .side-bar-right .page-count__menu li {
    flex: 1;
    padding: 0.5em 0;
    text-align: center;
}
main .side-bar-right .page-count__menu li:not(li:last-child) {
    border-right: 1px solid #ccc;
}

main .side-bar-right .page-count__menu li.active {
    background-color: #dcdde1;
}

main .side-bar-right .page-count__num {
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    margin: 0.3em;
}

main .side-bar-right .page-count__week-num {
    text-align: center;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #ccc;
}

main .side-bar-right .page-recent__title {
    padding: 0.5em 0;
}

main .side-bar-right .page-recent-item {
    border: 1px solid #ccc;
    padding: 0.5em;
}

main .side-bar-right .page-recent-item__footer {
    border-top: 1px solid #ccc;
    margin-top: 0.5em;
    padding-top: 0.8em;
}

main .side-bar-right .page-recent-item-info__avatar {
    width: 20%;
    padding-top: 20%;
    background-color: #4165af;
    margin-right: 0.5em;
}

main .side-bar-right .page-promotion {
    padding: 0.8em 0;
    border-bottom: 1px solid #ccc;
}
/* ----------- SIDE BAR RIGHT END ----------- */

