@font-face {
    font-family: poppins;
    src: url("poppins-black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: poppins;
    src: url("poppins-blackitalic.ttf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: poppins;
    src: url("poppins-bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: poppins;
    src: url("poppins-bolditalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: poppins;
    src: url("poppins-extrabold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: poppins;
    src: url("poppins-extrabolditalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: poppins;
    src: url("poppins-extralight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: poppins;
    src: url("poppins-extralightitalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: poppins;
    src: url("poppins-italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: poppins;
    src: url("poppins-light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: poppins;
    src: url("poppins-lightitalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: poppins;
    src: url("poppins-medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: poppins;
    src: url("poppins-mediumitalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: poppins;
    src: url("poppins-regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: poppins;
    src: url("poppins-semibold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: poppins;
    src: url("poppins-semibolditalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: poppins;
    src: url("poppins-thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: poppins;
    src: url("poppins-thinitalic.ttf");
    font-weight: 100;
    font-style: italic;
}
