
/* Mobile */
@media (max-width: 46.188em) {
    #banner .banner-text__wraper h1 {
        font-size: 12vh;
    }

    #features .body {
        flex-wrap: wrap-reverse;
    }

    #features .features__des {
        width: 100%;
    }

    #features .features__img {
        width: 80%;
        margin: auto;
        padding-top: 96.88%;
        margin-bottom: 2em;
    }

    #services .body .item {
        width: 100%;
        padding-top: 62.5%;
    }

    #testimonial .body .item {
        width: 100%;
        margin-bottom: 2em;
    }

    header .sidebar {
        width: 90%;
    }
}

/* Tablets */
@media (min-width: 46.25em) and (max-width: 63.938em) { 
    header .sidebar {
        width: 40%;
    }
}