/* ----------------------Sidebar START---------------------- */

header .menu-icon {
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.5em 1em;
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    z-index: 1;
}

#menu-control-open:checked ~ .sidebar {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
}

#menu-control-close:checked ~ .sidebar {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    opacity: 0;
}

#menu-control-open:checked ~ .modal {
    display: block;
}

#menu-control-close:checked ~ .modal {
    display: none;
}

header .modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    will-change: opacity;
    z-index: 1;
    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
}

header .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em 1.5em;
    font-size: 1.1em;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 30%;
    max-width: 16em;
    z-index: 2;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

header .sidebar ul li {
    line-height: 4;
}

header .sidebar label {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em 1em 0;
    font-size: 1.5em;
}

/* ----------------------Sidebar END---------------------- */

main .title {
    text-align: center;
    margin-bottom: 5em;
}

main .title p {
    color: var(--primary-color);
    font-size: 1.3em;
    text-transform: uppercase;
    background-image: url(../img/bg-leaf.png);
    background-size: 2em;
    background-repeat: no-repeat;
    padding-top: 1em;
    width: fit-content;
    margin: auto;
}

main .title h2 {
    font-size: 3em;
    font-weight: 300;
}

/* ----------------------Banner START---------------------- */

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(../img/single.jpg);
    width: 100%;
    padding-top: 43.9%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#banner .wraper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 4vw 0;
}

#banner .banner__logo {
    width: 7vw;
    filter: invert();
    -webkit-filter: invert();
    position: absolute;
    top: 4%;
    left: 10%;
}

#banner .banner-text__wraper {
    text-align: center;
    color: var(--white-color);
    text-shadow: 0 0 3px var(--black-color);
}

#banner .banner-text__wraper h1 {
    font-weight: 200;
    font-size: 10vw;
}

#banner .banner-text__wraper p {
    font-style: italic;
    font-weight: 200;
    font-size: 1.5em;
}

#banner .banner-text__wraper .buttons {
    position: absolute;
    left: 0; right: 0;
    bottom: 6vw;
}
/* ----------------------Banner END---------------------- */

#features {
    background-color: #fff;
}

#features .features__des {
    width: 60%;
    text-align: justify;
}

#features .des-item {
    margin-bottom: 2em;
}

#features .des-item h3 {
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

#features .des-item .des-text {
    flex-wrap: nowrap;
}

#features .des-item .des-text i {
    color: var(--primary-color);
    font-size: 1.5em;
    margin-right: 0.8em;
}

#features .des-item .des-text p {
    flex-grow: 1;
}

#features .features__img {
    width: 36%;
    border-radius: 0.5em;
    background-image: url(../img/about2.jpg);
    padding-top: 43.6%;
    background-size: contain;
}

#services {
    background-color: #efefef;
}

#services .body .item {
    width: 48%;
    position: relative;
    padding-top: 30%;
    background-size: cover;
    margin-bottom: 4%;
    border-radius: 0.5em;
    cursor: pointer;
}


#services .body .item .content {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    color: var(--white-color);
    text-align: center;
    transform: translateY(50%);
    margin: 0 2em;
    opacity: 0;
    transition: all ease 0.3s;
}

#services .body .item:hover > .content {
    opacity: 1;
    bottom: 50%
}

#services .body .item .content h3 {
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 1em;
}

#services .body .item .content p {
    padding-top: 1em;
}

#services .body .item:nth-child(1) {
    background-image: url(../img/blog-1.jpg)
}

#services .body .item:nth-child(2) {
    background-image: url(../img/blog-2.jpg)
}

#services .body .item:nth-child(3) {
    background-image: url(../img/blog-3.jpg)
}

#services .body .item:nth-child(4) {
    background-image: url(../img/blog-6.jpg)
}

#testimonial .body .item {
    width: 30%;
    text-align: justify;
    border-radius: 0.4em;
    box-shadow: 5px 5px 16px 5px #bfd9d7;
    padding: 0.6em;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    cursor: pointer;
}

#testimonial .body .item:hover {
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
}

#testimonial .body .item .user {
    margin-bottom: 1em;
}

#testimonial .body .item .user__img{
    width: 20%;
    border-radius: 0.2em;
    margin-right: 1em;
}

#testimonial .body .item .user__info p {
    color: #306e70;
}

#testimonial .body .item .user__info i {
    font-size: 1.5em;
    color: #3e9387;
    background-color: #efefef;
}

#meet-us{
    background-color: #efefef;
    position: relative;
    z-index: 0;
}

#meet-us .wraper {
    padding-bottom: 0;
}

#meet-us::after {
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-image: url(../img/bg-footer.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 50% 50%;
    z-index: -1;
    opacity: 0.3;
}

#meet-us .body .item {
    width: 50%;
}

#meet-us .body .item:last-child {
    text-align: end;
}

#meet-us .body .item li {
    margin: 1em;
}

#meet-us .body .item li i {
    color: var(--primary-color);
    font-size: 1.3em;
    display: inline-block;
    width: 1.3em;;
}

#meet-us .social-link {
    margin-top: 5em;
}

#meet-us .social-link .icon {
    color: var(--primary-color);
    text-align: center;
    font-size: 2em;
}

#meet-us .social-link .icon i {
    transition: color ease 0.2s;
    -webkit-transition: color ease 0.2s;
    -moz-transition: color ease 0.2s;
    -ms-transition: color ease 0.2s;
    -o-transition: color ease 0.2s;
}

#meet-us .social-link .icon i:hover {
    color: coral;
}

#meet-us .social-link p {
    text-align: center;
}
