:root {
    --color-text:#444444
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

input[type="text"] {
    outline: none;
}

.wraper {
    max-width: 1000px;
    margin: auto;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    color: var(--color-text);
    font-size: 62.5%;
    background-color: #e7e9ed;
}

/* ---------------------------------- */

.flex-space-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

/* ---------------------------------- */

.avartar--header,
.avartar--left,
.avartar--new-post,
.avartar--post,
.avartar--story,
.avartar--story,
.avartar--story {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #1c2843;
}

/* ----------- HEADER START ----------- */

header {
    background-color: #4165b0;
}

.facebook-icon {
    font-size: 3em;
    color: #fff;
}

header .wraper {
    padding: 20px 0 10px;
}

header .header-left {
    flex-basis: 50%;
}

header .header-search-wraper {
    padding-left: 6px;
    flex-grow: 1;
    overflow: hidden;
}

header .header-search__input {
    flex-grow: 1;
    padding: 4px 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    
}

header .header-search__input::placeholder {
    font-weight: bold;
}

header .header-search__icon {
    padding: 4px 16px;
    background-color: #f5f6f9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    font-size: 1.3em;
}

header .header-right .avartar--header{
}

header .header-right li {
    padding: 0 4px;
}

header .header-right li:not(header .header-right li:nth-child(-n + 2)) {
    border-left: 1px solid #ccc;
}

header .header-right a{
    color: #fff;
    font-size: 1.4em;
    padding: 0 4px;
}

/* ----------- HEADER END ----------- */

/* ----------- SIDE BAR LEFT START ----------- */

main .side-bar-left {
    flex-basis: 20%;
    margin-top: 6px;
}

main .side-bar-left .left-header-name {
    padding-left: 16px;
}

main .side-bar-left .nav-left-menu li,
main .side-bar-left .nav-quick-access li {
    padding: 4px 0;
    margin: 2px 0;
}

main .side-bar-left .nav-left-menu li i,
main .side-bar-left .nav-quick-access li i {
    font-size: 1.6em;
}

main .side-bar-left .nav-left-menu,
main .side-bar-left .nav-group {
    margin-top: 16px;
    list-style: none;
}

main .side-bar-left .nav-group li {
    padding: 2px 0;
    margin: 2px 0;
}

main .side-bar-left .nav-group li i{
    font-size: 1.4em;
    border-radius: 50%;
    background-color: #4165b0;
    color: #fff;
    line-height: 2em;
    padding: 0 4px;
    margin-right: 6px;
}

main .side-bar-left .side-bar-left-footer {
    margin-top: 10px;
}

main .side-bar-left .side-bar-left-footer__title {
    margin-bottom: 4px;
}

main .side-bar-left .side-bar-left-footer__menu a{
    color: #4165b0;
}
/* ----------- SIDE BAR LEFT END ----------- */


/* ----------- CONTENT START ----------- */

main .content {
    flex-grow: 1;
}

main .content .new-post {
    border-radius: 6px;
    margin: 8px;
    background-color: #fff;
    overflow: hidden;
}

main .content .new-post__header {
    background-color: #f4f6f8;
}

main .content .new-post__header li {
    color: #4165b0;
    padding: 0 10px;
    margin: 10px 0;
}

main .content .new-post__header li i {
    color: #000;
    font-size: 1.4em;
    padding-right: 4px;
}

main .content .new-post__header li:not(main .content .new-post__header li:first-child) {
    border-left: 1px solid #ccc;
}

main .content .new-post__footer,
main .content .new-post__body {
    padding: 10px 0;
    margin: 0 10px;
}

main .content .new-post__body {
    border-bottom: 1px solid #ccc;
}

main .content .new-post__input {
    /* border: none; */
    padding: 4px;
    flex-grow: 1;
    margin: 0 10px;
}


/* ----------- CONTENT END ----------- */

/* ----------- SIDE BAR RIGHT START ----------- */

main .side-bar-right {
    flex-basis: 26%;
    background-color: #fff;
    margin-top: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* ----------- SIDE BAR RIGHT END ----------- */

